In [1]:
import pandas as pd 
import time as t
from lxml import html  
import requests
import json
import numpy as np
from timeit import default_timer as timer
from itertools import cycle
reviews_df=pd.DataFrame()
  
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0 Safari/605.1.15'
webpage = 'https://www.yelp.com/biz/mala-sichuan-bistro-houston-3'
nextpage = 'something'
xpath_reviews = '//script[@type="application/ld+json"]/text()'
xpath_nextpage = '//link[@rel="next"]'
headers = {'User-Agent': user_agent}

In [2]:
reviewdf = pd.DataFrame()

while len(nextpage) > 0:
    print('1')
    page = requests.get(webpage, headers = headers)#,proxies={"http": proxy, "https": proxy})
    print('2')
    parser = html.fromstring(page.content)
    reviews = parser.xpath(xpath_reviews)
    nextpage = parser.xpath(xpath_nextpage)
    
    if len(nextpage) > 0:
        nextlink = nextpage[0].get('href')
        print(nextlink, end = '\r')
        webpage = nextlink
        y = json.loads(list(reviews)[0])['review']

        reviewdict = {y.index(i):i for i in y}

        reviewdf = pd.concat([reviewdf,pd.DataFrame(reviewdict).T])

1
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=20
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=40
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=60
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=80
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=100
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=120
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=140
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=160
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=180
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=200
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=220
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=240
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=260
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=280
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=300
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=320
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=340
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=360
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=380
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=400
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=420
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=440
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=460
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=480
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=500
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=520
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=540
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=560
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=580
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=600
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=620
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=640
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=660
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=680
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=700
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=720
2
1ttps://www.yelp.com/biz/mala-sichuan-bistro-houston-3?start=740
2

In [235]:
def grabfullreviws(ureviews):
    fullreviews = []
    curreview = ''
    for i in range(len(ureviews)):
        #print('\n')
        if not (i == len(ureviews)-1):
            if not type(ureviews[i]) == str:
                #print('not a review',ureviews[i],type(ureviews[i]))
                pass
            elif not type(ureviews[i+1]) == str:
                #print('middle of a review',ureviews[i],type(ureviews[i]))
                curreview = curreview + ureviews[i]
            elif type(ureviews[i+1]) == str:
                #print('end of a review',ureviews[i],type(ureviews[i]))
                curreview = curreview + ureviews[i]
                fullreviews.append(curreview)
                curreview = ''
        else:
            curreview = curreview + ureviews[i]
            fullreviews.append(curreview)
    return fullreviews

In [261]:
userpage = 'https://www.yelp.com/user_details_reviews_self?rec_pagestart=10&userid=2fKJeKlPi9le_ta7DPVW_A'
userreviewdf = pd.DataFrame()

upath_reviews = '//p[@lang="en"]//node()'
upath_nextpage = '//a[@class="u-decoration-none next pagination-links_anchor"]'
upath_starrating = '//div[@class="biz-rating__stars"]//div'

while len(unextpage) > 0:

    userpage = requests.get(userpage, headers = headers)#,proxies={"http": proxy, "https": proxy})
    
    uparser = html.fromstring(userpage.content)

    ureviews = uparser.xpath(upath_reviews)

    if len(unextpage) > 0:
        unextpage = uparser.xpath(upath_nextpage)
        userpage = unextpage[0].get('href')
    ustarratingpath = uparser.xpath(upath_starrating)

    ureviews = [str(i) if not "Element br" in str(i) else 0 for i in ureviews ]

    ufullreviews = grabfullreviws(ureviews)

    fullstars = [i.get('title') for i in ustarratingpath]

    userreviewdf = pd.concat([userreviewdf,pd.DataFrame(list(zip(fullstars,fullreviews)))])

In [259]:
pd.DataFrame(ureviewdict,index = ['rev']).T

                                                  rev
0   I'm writing this review because I noticed that...
1   TLDR: Over rated Mediterranean cuisine with de...
2   I came here expecting to be blown away. Coming...
3   I ordered the chicken shawarma over biryani ri...
4   The hummus was the last hope for this place, b...
5   The last surprise here was finding out that th...
6   If there's one redeeming quality, it's that th...
7   I came in here initially about to order a burg...
8   I'm not too inclined to return, as the burgers...
9   Maybe this is a little harsh, considering I op...
10  This HEB is legendary. Coming from Houston, I ...
11  I didn't expect the barbecue out of an HEB to ...
12  I've walked by this place multiple times while...
13  Sausage is average at best, and the sides, whi...
14  Not bad, but nothing spectacular in my opinion...
15  Clear springs cafe is a solid choice if you're...
16  Chicken dishes here in general are executed pr...
17  This place fills up quickly for lunch; it was ...
18  TL;DR: Pretty great standard American fare wit...
19  Zero One Ale House is an establishment that ha...
20  Unfortunately, it was down hill from there. Ou...
21  Though the burgers looked amazing, the patties...
22  The ahi tuna was also a bit of a let down, jus...
23  The only thing I can compliment are the sweet ...
24  Zero One Ale House certainly has the capacity ...
25  TL;DR: Delicious, affordable, authentic Mexica...
26  Coming from Houston, I can attest that this pl...
27  The mixed fajitas ($14) for one was probably t...
28  The carne asada came as 3 pretty large, but ve...
29  Service here, too was excellent, especially gi...
30  TL;DR: Surprisingly good poke by any city's st...
31  I was extremely skeptical about poke in midlan...
32  To those unfamiliar with poke, it's essentiall...
33  At Ohana, all your standard rice bases, in add...
34  The fault with this place is that they don't t...
35  Seeing as this is the only poke place in all o...
36  Kura locations don't really vary too much, but...
37   If you're sleeping on the fried salmon kama, ...
38  Fill up on the salmon belly and fried kama and...

In [2]:
import googlemaps
from datetime import datetime
import requests

In [102]:
gmapsapikey = json.load(open('gmapsapikey.json', 'r'))[0]

In [104]:
url = f'https://maps.googleapis.com/maps/api/place/details/json?key={gmapsapikey}&place_id=ChIJNc4K5cTCQIYRe9OyIN7DcGE&fields=name,review'
response = requests.get(url, headers=headers)

In [105]:
googlereviewdict = json.loads(response.content.decode('utf-8'))['result']['reviews']
googlereviewdict = {googlereviewdict.index(i):i for i in googlereviewdict}

googlereviewdf = pd.DataFrame(googlereviewdict).T

In [106]:
googlereviewdf = googlereviewdf[['author_name','rating','text']]
googlereviewdf.columns = ['author','reviewRating','description']
googlereviewdf

,author,reviewRating,description
0,Tristan & Ashley Boyd,5,Hubby found Mala Sichuan on Yelp and sent it a...
1,Pat Patel,4,Very good traditional Chinese food. We definit...
2,Epiphany Animation Studios,3,It was alright. I think maybe they had an off ...
3,Na Li,4,"I come here once a while, it used to one of my..."
4,Russell Monroe,2,"This review is for the Finn Hall location, but..."

In [72]:
import copy
reviewdf = pd.read_json('bigmala')
#df = copy.deepcopy(reviewdf)

In [73]:
reviewdf = pd.concat([reviewdf,googlereviewdf],sort = False)

In [74]:
reviewdf = reviewdf.reset_index().drop(['index'],axis=1)

In [75]:
#reviewdf['reviewRating'] = reviewdf['reviewRating'].apply(lambda x:x['ratingValue'])
reviewdf['description'] = reviewdf['description'].apply(lambda x:x.replace('\n','').replace('-',' ').lower())

In [76]:
menuitems = json.load(open('cleaned_menu_dict.json'))
menuitems = [x[3:].strip() for x in list(menuitems.keys())]
menitems = [x.lower() for x in menuitems]

In [77]:
menitems

['country style blood curd dish',
 'beef pot',
 'and crispy chicken',
 'duck stew',
 'konjac beef',
 'lotus tofu',
 'three pepper beaten duck',
 'tea smoked duck',
 'four joy lion head',
 'fragrant ribs',
 'water boiled beef',
 'cumin beef',
 'black pepper beef',
 'mala beef tofu',
 'mongolian beef',
 'crispy mala beef',
 'baby pepper black bean beef',
 'baby pepper and shredded beef',
 'satay beef',
 'sauteed lamb with',
 'cumin lamb']

In [78]:
search = lambda x: [menitem for menitem in menitems if menitem in x]
reviewdf['containedMenuItems'] = reviewdf['description'].apply(search)

In [79]:
menitemstoreviews = {}
for menitem in menitems:
    menitemstoreviews[menitem] = [{},list(reviewdf[reviewdf['containedMenuItems'].map(lambda d: menitem in d)].index)]

In [80]:
tot4plusreviews = len(reviewdf[reviewdf['reviewRating'] >= 4])

In [81]:
#total number of 4 plus reviews
for item in menitemstoreviews:
    #print(item,'------',end = '')
    allratings = []
    fourpluscounter = 0
    twominuscounter = 0
    totalrev = len(menitemstoreviews[item][1])
    
    for rev in menitemstoreviews[item][1]:
        curstar = reviewdf.iloc[rev]['reviewRating']
        allratings.append(curstar)
        if curstar >= 4:
            fourpluscounter += 1
        elif curstar <= 2:
            twominuscounter += 1
    if not totalrev == 0:
        menitemstoreviews[item][0]['extremerev'] = (fourpluscounter - twominuscounter) / (2 * totalrev)
    else:
        menitemstoreviews[item][0]['extremerev'] = 0
    menitemstoreviews[item][0]['percentageoftotalreviews'] = 10 * (fourpluscounter) / tot4plusreviews
        
    if not len(allratings) == 0:
        menitemstoreviews[item][0]['avgrev'] = sum(allratings)/(5 * len(allratings))
        #print('av rating',sum(allratings)/len(allratings))
    else:
        menitemstoreviews[item][0]['avgrev'] = 0
        #print('no reviews')

In [82]:
itemratings = pd.DataFrame(menitemstoreviews).T
itemratings.columns = ['ratings','indexes']

In [83]:
itemratings['totalscore'] = itemratings['ratings'].apply(lambda x: sum(x.values()))

In [84]:
itemratings['totalscore'].sort_values(ascending = False)

cumin beef                       2.224297
and crispy chicken               1.753402
cumin lamb                       1.643103
three pepper beaten duck         1.588506
mongolian beef                   1.561379
black pepper beef                1.537931
satay beef                       1.517241
baby pepper and shredded beef    1.517241
tea smoked duck                  1.514543
crispy mala beef                 1.485862
four joy lion head               1.485057
water boiled beef                1.474271
country style blood curd dish    1.334483
fragrant ribs                    1.276724
mala beef tofu                   1.268966
lotus tofu                       1.176724
baby pepper black bean beef      0.717241
duck stew                        0.617241
beef pot                         0.517241
sauteed lamb with                0.000000
konjac beef                      0.000000
Name: totalscore, dtype: float64

In [54]:
pd.DataFrame(menitemstoreviews).T

,0,1
country style blood curd dish,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[416, 438]"
beef pot,"{'extremerev': 0.0, 'percentageoftotalreviews'...","[502, 714]"
and crispy chicken,"{'extremerev': 0.3918918918918919, 'percentage...","[11, 29, 38, 48, 66, 94, 101, 102, 104, 113, 1..."
duck stew,"{'extremerev': 0.0, 'percentageoftotalreviews'...","[162, 625]"
beef,"{'extremerev': 0.3909952606635071, 'percentage...","[2, 5, 8, 13, 18, 22, 29, 35, 42, 47, 52, 54, ..."
lotus tofu,"{'extremerev': 0.375, 'percentageoftotalreview...","[64, 88, 180, 318]"
three pepper beaten duck,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[103, 349, 486, 539, 628, 653, 655, 671, 739]"
tea smoked duck,"{'extremerev': 0.3695652173913043, 'percentage...","[31, 42, 64, 113, 116, 172, 212, 227, 237, 257..."
four joy lion head,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[351, 554, 674]"
fragrant ribs,"{'extremerev': 0.375, 'percentageoftotalreview...","[69, 109, 223, 312]"
water boiled beef,"{'extremerev': 0.4230769230769231, 'percentage...","[29, 101, 131, 194, 207, 235, 277, 409, 462, 4..."
cumin beef,"{'extremerev': 0.4076923076923077, 'percentage...","[5, 18, 22, 42, 57, 78, 81, 94, 95, 98, 113, 1..."
black pepper beef,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[84, 164, 177, 323, 337, 359, 383, 554]"
mala beef tofu,"{'extremerev': 0.4, 'percentageoftotalreviews'...","[126, 217, 278, 350, 462]"
mongolian beef,"{'extremerev': 0.4666666666666667, 'percentage...","[13, 18, 75, 84, 183, 190, 234, 237, 253, 266,..."
crispy mala beef,"{'extremerev': 0.35, 'percentageoftotalreviews...","[47, 92, 97, 109, 134, 159, 206, 209, 223, 289..."
baby pepper black bean beef,"{'extremerev': 0.0, 'percentageoftotalreviews'...","[222, 298]"
baby pepper and shredded beef,"{'extremerev': 0.5, 'percentageoftotalreviews'...",[568]
sauteed lamb with,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
cumin lamb,"{'extremerev': 0.4722222222222222, 'percentage...","[16, 35, 79, 120, 131, 167, 180, 200, 230, 253..."

In [55]:
list(menitemstoreviews.values())

[[{'extremerev': 0.5,
   'percentageoftotalreviews': 0.034482758620689655,
   'avgrev': 0.8},
  [416, 438]],
 [{'extremerev': 0.0,
   'percentageoftotalreviews': 0.017241379310344827,
   'avgrev': 0.5},
  [502, 714]],
 [{'extremerev': 0.3918918918918919,
   'percentageoftotalreviews': 0.5344827586206896,
   'avgrev': 0.827027027027027},
  [11,
   29,
   38,
   48,
   66,
   94,
   101,
   102,
   104,
   113,
   132,
   159,
   193,
   199,
   201,
   223,
   228,
   233,
   236,
   274,
   287,
   303,
   346,
   350,
   356,
   397,
   406,
   431,
   462,
   464,
   529,
   566,
   568,
   600,
   664,
   735,
   740]],
 [{'extremerev': 0.0,
   'percentageoftotalreviews': 0.017241379310344827,
   'avgrev': 0.6},
  [162, 625]],
 [{'extremerev': 0.3909952606635071,
   'percentageoftotalreviews': 3.086206896551724,
   'avgrev': 0.8360189573459715},
  [2,
   5,
   8,
   13,
   18,
   22,
   29,
   35,
   42,
   47,
   52,
   54,
   57,
   63,
   66,
   75,
   76,
   77,
   78,
   81,
   84,
   92,
   94,
   95,
   97,
   98,
   101,
   106,
   109,
   113,
   118,
   123,
   125,
   126,
   127,
   131,
   134,
   139,
   146,
   149,
   154,
   159,
   164,
   169,
   172,
   174,
   177,
   178,
   183,
   186,
   190,
   192,
   194,
   195,
   197,
   206,
   207,
   209,
   216,
   217,
   218,
   219,
   220,
   222,
   223,
   231,
   232,
   234,
   235,
   237,
   241,
   246,
   252,
   253,
   256,
   260,
   266,
   267,
   277,
   278,
   289,
   293,
   298,
   304,
   310,
   311,
   312,
   316,
   317,
   319,
   322,
   323,
   327,
   331,
   332,
   335,
   336,
   337,
   346,
   349,
   350,
   352,
   353,
   356,
   357,
   359,
   360,
   373,
   383,
   384,
   386,
   392,
   394,
   399,
   402,
   405,
   409,
   414,
   415,
   420,
   429,
   431,
   438,
   442,
   450,
   456,
   457,
   458,
   462,
   464,
   465,
   468,
   469,
   472,
   473,
   474,
   477,
   487,
   489,
   491,
   492,
   493,
   494,
   495,
   502,
   503,
   506,
   508,
   511,
   513,
   514,
   515,
   517,
   518,
   521,
   522,
   527,
   528,
   534,
   535,
   536,
   537,
   541,
   542,
   546,
   547,
   548,
   549,
   550,
   553,
   554,
   555,
   568,
   569,
   574,
   577,
   581,
   589,
   590,
   595,
   605,
   606,
   614,
   615,
   617,
   618,
   628,
   636,
   640,
   644,
   646,
   651,
   655,
   664,
   665,
   667,
   669,
   671,
   672,
   684,
   687,
   689,
   697,
   706,
   714,
   716,
   724,
   731,
   738,
   739,
   742]],
 [{'extremerev': 0.375,
   'percentageoftotalreviews': 0.05172413793103448,
   'avgrev': 0.75},
  [64, 88, 180, 318]],
 [{'extremerev': 0.5,
   'percentageoftotalreviews': 0.15517241379310345,
   'avgrev': 0.9333333333333333},
  [103, 349, 486, 539, 628, 653, 655, 671, 739]],
 [{'extremerev': 0.3695652173913043,
   'percentageoftotalreviews': 0.3275862068965517,
   'avgrev': 0.8173913043478261},
  [31,
   42,
   64,
   113,
   116,
   172,
   212,
   227,
   237,
   257,
   308,
   334,
   339,
   375,
   376,
   405,
   416,
   507,
   538,
   589,
   605,
   626,
   706]],
 [{'extremerev': 0.5,
   'percentageoftotalreviews': 0.05172413793103448,
   'avgrev': 0.9333333333333333},
  [351, 554, 674]],
 [{'extremerev': 0.375,
   'percentageoftotalreviews': 0.05172413793103448,
   'avgrev': 0.85},
  [69, 109, 223, 312]],
 [{'extremerev': 0.4230769230769231,
   'percentageoftotalreviews': 0.1896551724137931,
   'avgrev': 0.8615384615384616},
  [29, 101, 131, 194, 207, 235, 277, 409, 462, 473, 541, 664, 671]],
 [{'extremerev': 0.4076923076923077,
   'percentageoftotalreviews': 0.9827586206896551,
   'avgrev': 0.8338461538461538},
  [5,
   18,
   22,
   42,
   57,
   78,
   81,
   94,
   95,
   98,
   113,
   118,
   127,
   139,
   146,
   178,
   192,
   197,
   207,
   218,
   219,
   223,
   231,
   256,
   304,
   316,
   323,
   327,
   331,
   335,
   353,
   356,
   384,
   386,
   394,
   399,
   414,
   431,
   442,
   458,
   465,
   472,
   474,
   492,
   508,
   511,
   527,
   534,
   535,
   546,
   553,
   577,
   589,
   595,
   614,
   618,
   636,
   646,
   651,
   665,
   672,
   714,
   724,
   738,
   742]],
 [{'extremerev': 0.5,
   'percentageoftotalreviews': 0.13793103448275862,
   'avgrev': 0.9},
  [84, 164, 177, 323, 337, 359, 383, 554]],
 [{'extremerev': 0.4,
   'percentageoftotalreviews': 0.06896551724137931,
   'avgrev': 0.8},
  [126, 217, 278, 350, 462]],
 [{'extremerev': 0.4666666666666667,
   'percentageoftotalreviews': 0.2413793103448276,
   'avgrev': 0.8533333333333334},
  [13, 18, 75, 84, 183, 190, 234, 237, 253, 266, 312, 468, 518, 528, 547]],
 [{'extremerev': 0.35,
   'percentageoftotalreviews': 0.27586206896551724,
   'avgrev': 0.86},
  [47,
   92,
   97,
   109,
   134,
   159,
   206,
   209,
   223,
   289,
   298,
   317,
   346,
   353,
   360,
   456,
   487,
   517,
   706,
   739]],
 [{'extremerev': 0.0,
   'percentageoftotalreviews': 0.017241379310344827,
   'avgrev': 0.7},
  [222, 298]],
 [{'extremerev': 0.5,
   'percentageoftotalreviews': 0.017241379310344827,
   'avgrev': 1.0},
  [568]],
 [{'extremerev': 0, 'percentageoftotalreviews': 0.0, 'avgrev': 0}, []],
 [{'extremerev': 0.4722222222222222,
   'percentageoftotalreviews': 0.29310344827586204,
   'avgrev': 0.8777777777777778},
  [16,
   35,
   79,
   120,
   131,
   167,
   180,
   200,
   230,
   253,
   390,
   395,
   458,
   464,
   545,
   645,
   728,
   729]]]

In [56]:
reviewdf[reviewdf['description'].map(lambda d: 'tea smoked duck' in d)]

,author,datePublished,description,reviewRating,containedMenuItems
31,Jennifer N.,2017-10-02,"about my visit on september 13, 2017:food: i o...",4,[tea smoked duck]
42,Gin Y.,2016-06-01,pretty clean and nice atmosphere. decent servi...,4,"[beef, tea smoked duck, cumin beef, beef]"
64,Peter N.,2017-04-06,parking: restaurant is in a large shopping cen...,3,"[lotus tofu, tea smoked duck]"
113,Quyen N.,2019-07-20,i kinda hesitated before making a reservation ...,4,"[and crispy chicken, beef, tea smoked duck, cu..."
116,Robert T.,2019-01-13,this is one of the few restaurants in chinatow...,4,[tea smoked duck]
172,Drew K.,2016-12-21,so hot and so good. if you're a fan of sichuan...,5,"[beef, tea smoked duck, beef]"
212,Shafiq W.,2019-07-13,best in town. prefer the bellaire location to ...,5,[tea smoked duck]
227,Lou C.,2012-09-28,mala sichuan bistro is my favorite chinese res...,5,[tea smoked duck]
237,Eunji K.,2016-05-06,came here with 3 other friends to celebrate ou...,4,"[beef, tea smoked duck, mongolian beef, beef]"
257,Lynn H.,2019-03-20,i came back and i loved it! my sister and i go...,5,[tea smoked duck]
308,Julia L.,2014-04-24,the dan dan noodles has got to be one of my fa...,5,[tea smoked duck]
334,Willy N.,2019-07-17,i can't believe i've never written a review fo...,5,[tea smoked duck]
339,Bao N.,2015-06-10,the dan dan noodles are awesome here. not too...,4,[tea smoked duck]
375,Tarun V.,2014-06-04,what the freak happened here? usually fellow y...,1,[tea smoked duck]
376,Michael S.,2015-03-31,by far my favorite chinese place in houston. t...,5,[tea smoked duck]
405,Van T.,2015-04-19,we wanted to try something new and were curiou...,4,"[beef, tea smoked duck, beef]"
416,Kat W.,2014-09-28,top notch pot of the outlaws is the best named...,4,"[country style blood curd dish, tea smoked duck]"
507,Bonnie M.,2014-03-05,straight to the point: disappointed. we were v...,2,[tea smoked duck]
538,Gabe S.,2016-10-17,the food was amazing yet a little spicy for ki...,4,[tea smoked duck]
589,Pat B.,2011-10-07,"best mapo tofu i've ever had. hands down, and...",5,"[beef, tea smoked duck, cumin beef, beef]"
605,C L.,2014-11-08,authentic sichuan in houston! spicy crunchy ch...,4,"[beef, tea smoked duck, beef]"
626,Shilpa A.,2014-07-16,amazing! this is one of our favorite chinatown...,5,[tea smoked duck]
706,Susie F.,2015-08-31,"the food at mala sichuan, when it is on point,...",3,"[beef, tea smoked duck, crispy mala beef, beef]"

In [57]:
reviewdf[reviewdf['author']=='Tristan & Ashley Boyd']

,author,datePublished,description,reviewRating,containedMenuItems
740,Tristan & Ashley Boyd,NaN,hubby found mala sichuan on yelp and sent it a...,5,[and crispy chicken]

In [24]:
reviewdf.iloc[473]['description']

'good prices, a ton of food and a friendly staff. the garlic bacon rolls with cucumbers and the red hot oil dumplings are good to start off with. the spicy crispy chicken was disappointing this time but the water boiled beef was good.'

In [13]:
#reviewdf.to_json('bigmala')