In [368]:
import pandas as pd 
import time as t
from lxml import html  
import requests
import json
import numpy as np
from timeit import default_timer as timer
from itertools import cycle
import string

In [604]:
food = True

In [605]:
if food:
    respage = 'https://www.yelp.com/biz/mala-sichuan-bistro-houston-3'
    switch = 'food'
else:
    respage = 'https://www.yelp.com/biz/sharetea-houston-2'
    switch = 'tea'

# OCR FUNCTIONALITY TEST

In [614]:
import sys
sys.path.append('../')

In [631]:
cd ~/Documents/GitHub/me.nu/menu_read

/Users/michaelsprintson/Documents/GitHub/me.nu/menu_read

In [635]:
pip install --upgrade google-cloud-vision

Collecting google-cloud-vision
  Downloading https://files.pythonhosted.org/packages/ec/e3/77b17733592fde11b7250444ddedd8d04ae1be6f0f4c0d9f47ed154a686e/google_cloud_vision-0.39.0-py2.py3-none-any.whl (418kB)
     |████████████████████████████████| 419kB 7.2MB/s eta 0:00:01
Collecting google-api-core[grpc]<2.0.0dev,>=1.14.0 (from google-cloud-vision)
  Downloading https://files.pythonhosted.org/packages/71/e5/7059475b3013a3c75abe35015c5761735ab224eb1b129fee7c8e376e7805/google_api_core-1.14.2-py2.py3-none-any.whl (68kB)
     |████████████████████████████████| 71kB 17.8MB/s eta 0:00:01
Collecting googleapis-common-protos<2.0dev,>=1.6.0 (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision)
  Downloading https://files.pythonhosted.org/packages/eb/ee/e59e74ecac678a14d6abefb9054f0bbcb318a6452a30df3776f133886d7d/googleapis-common-protos-1.6.0.tar.gz
Requirement already satisfied, skipping upgrade: google-auth<2.0dev,>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (1.6.3)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (1.12.0)
Requirement already satisfied, skipping upgrade: setuptools>=34.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (41.0.1)
Requirement already satisfied, skipping upgrade: protobuf>=3.4.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (3.9.0)
Requirement already satisfied, skipping upgrade: pytz in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (2019.1)
Requirement already satisfied, skipping upgrade: requests<3.0.0dev,>=2.18.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (2.22.0)
Requirement already satisfied, skipping upgrade: grpcio<2.0dev,>=1.8.2; extra == "grpc" in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (1.22.0)
Requirement already satisfied, skipping upgrade: cachetools>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-auth<2.0dev,>=0.4.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (3.1.1)
Requirement already satisfied, skipping upgrade: rsa>=3.1.4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-auth<2.0dev,>=0.4.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (4.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from google-auth<2.0dev,>=0.4.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (0.2.6)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (1.25.5)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (2019.6.16)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from rsa>=3.1.4->google-auth<2.0dev,>=0.4.0->google-api-core[grpc]<2.0.0dev,>=1.14.0->google-cloud-vision) (0.4.7)
Building wheels for collected packages: googleapis-common-protos
  Building wheel for googleapis-common-protos (setup.py) ... done
  Created wheel for googleapis-common-protos: filename=googleapis_common_protos-1.6.0-cp37-none-any.whl size=77578 sha256=61cbd2aeb31e09d2136a937fceec156b31d96d8e7fbd46bc273dcd615d1af9d0
  Stored in directory: /Users/michaelsprintson/Library/Caches/pip/wheels/9e/3d/a2/1bec8bb7db80ab3216dbc33092bb7ccd0debfb8ba42b5668d5
Successfully built googleapis-common-protos
Installing collected packages: googleapis-common-protos, google-api-core, google-cloud-vision
Successfully installed google-api-core-1.14.2 google-cloud-vision-0.39.0 googleapis-common-protos-1.6.0
Note: you may need to restart the kernel to use updated packages.

In [644]:

import ocr_food

In [646]:
# create dictionary
d = ocr_food.load_words('ocr\alpha_words.txt')

pic_loc = 'ocr\\menupictures\\othermenu\\othermenu8.jpg'
test_file_name = 'othermenutest8'
detect_text(pic_loc, test_file_name)

print(final_dump("ocr\\menu_tests\\othermenutest7.txt", "menu_read\\pref_sample.txt", True, "othermenutest7"))

TypeError: load_words() takes 0 positional arguments but 1 was given

# IMPORT RESTERAUNT REVIEWS

## IMPORT YELP REVIEWS

In [529]:

reviews_df=pd.DataFrame()
  
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0 Safari/605.1.15'
webpage = ''
nextpage = 'something'
xpath_reviews = '//script[@type="application/ld+json"]/text()'
xpath_nextpage = '//link[@rel="next"]'
headers = {'User-Agent': user_agent}

In [531]:
reviewdf = pd.DataFrame()

while len(nextpage) > 0:
    #print('1')
    page = requests.get(webpage, headers = headers)#,proxies={"http": proxy, "https": proxy})
    print('pagegot','\r')
    parser = html.fromstring(page.content)
    reviews = parser.xpath(xpath_reviews)
    nextpage = parser.xpath(xpath_nextpage)
    
    if len(nextpage) > 0:
        nextlink = nextpage[0].get('href')
        print(nextlink, end = '\r')
        webpage = nextlink
        y = json.loads(list(reviews)[0])['review']

        reviewdict = {y.index(i):i for i in y}

        reviewdf = pd.concat([reviewdf,pd.DataFrame(reviewdict).T])

pagegot
pagegot www.yelp.com/biz/sharetea-houston-2?start=20
pagegot www.yelp.com/biz/sharetea-houston-2?start=40
pagegot www.yelp.com/biz/sharetea-houston-2?start=60
pagegot www.yelp.com/biz/sharetea-houston-2?start=80
pagegot www.yelp.com/biz/sharetea-houston-2?start=100
pagegot www.yelp.com/biz/sharetea-houston-2?start=120
pagegot www.yelp.com/biz/sharetea-houston-2?start=140
pagegot www.yelp.com/biz/sharetea-houston-2?start=160
pagegot www.yelp.com/biz/sharetea-houston-2?start=180
pagegot www.yelp.com/biz/sharetea-houston-2?start=200
pagegot www.yelp.com/biz/sharetea-houston-2?start=220
pagegot www.yelp.com/biz/sharetea-houston-2?start=240
pagegot www.yelp.com/biz/sharetea-houston-2?start=260
pagegot www.yelp.com/biz/sharetea-houston-2?start=280
pagegot www.yelp.com/biz/sharetea-houston-2?start=300
pagegot www.yelp.com/biz/sharetea-houston-2?start=320
pagegot www.yelp.com/biz/sharetea-houston-2?start=340
pagegot www.yelp.com/biz/sharetea-houston-2?start=360
pagegot www.yelp.com/biz/sharetea-houston-2?start=380
pagegot www.yelp.com/biz/sharetea-houston-2?start=400
pagegot www.yelp.com/biz/sharetea-houston-2?start=420
pagegot www.yelp.com/biz/sharetea-houston-2?start=440
pagegot www.yelp.com/biz/sharetea-houston-2?start=460
pagegot www.yelp.com/biz/sharetea-houston-2?start=480
pagegot www.yelp.com/biz/sharetea-houston-2?start=500
pagegot www.yelp.com/biz/sharetea-houston-2?start=520
pagegot www.yelp.com/biz/sharetea-houston-2?start=540

In [537]:
reviewdf = reviewdf.reset_index()
reviewdf.drop(['index'],axis=1)

,author,datePublished,description,reviewRating
0,Tom P.,2019-08-10,Visited Sharetea in Chinatown for the first ti...,{'ratingValue': 5}
1,Henry V L.,2019-08-20,Sharetea?? Nooo thanks cuz boba is my lifeeee....,{'ratingValue': 3}
2,Karen T.,2019-08-01,"Update - August 1, 2019\n\nAs always, Sharetea...",{'ratingValue': 5}
3,Sam K.,2019-09-21,I've never been to a bubble tea place where yo...,{'ratingValue': 4}
4,Jennifer Y.,2019-07-23,Typically get the classic milk tea (green) wit...,{'ratingValue': 4}
5,Tri D.,2019-08-14,Out of all the bubble tea/smoothie places I've...,{'ratingValue': 5}
6,Sasha E.,2019-07-21,Love this ShareTea location because the space ...,{'ratingValue': 3}
7,Diane S.,2019-07-21,Walked in. They are advertising for the Chai t...,{'ratingValue': 3}
8,Cathy L.,2019-07-11,I love sharetea because it's one of the few pl...,{'ratingValue': 4}
9,Angela A.,2019-04-01,Sharetea is most likely my top teahouse in Hou...,{'ratingValue': 5}
10,Joiya A.,2019-03-17,I finally made it to Sharetea after having it ...,{'ratingValue': 4}
11,Zhao C.,2019-09-01,My favorite boba tea place in the area! Not on...,{'ratingValue': 5}
12,Brandon K.,2019-09-15,They make the best strawberry green tea with b...,{'ratingValue': 5}
13,Annelaure N.,2019-06-08,Sorry I think this place is a taaaad too overr...,{'ratingValue': 2}
14,Mimi N.,2019-05-21,Sharetea is always busy when I go. This is my ...,{'ratingValue': 5}
15,Jerry H.,2019-05-30,Came here late at night and was sad to hear th...,{'ratingValue': 3}
16,Ashley C.,2019-04-03,My first ever Sharetea encounter. Honestly out...,{'ratingValue': 4}
17,Tori S.,2019-04-05,"Goodness, how do I even start with this? \n\nE...",{'ratingValue': 5}
18,Stephanie N.,2019-03-29,Mango green tea with 80% sweetness is the way ...,{'ratingValue': 4}
19,Fox E.,2019-02-27,I'm gonna get fat cuz I always go to SHARETEA\...,{'ratingValue': 5}
20,Thanh D.,2019-03-07,"Of all the bubble tea places in Chinatown, thi...",{'ratingValue': 5}
21,Alisa S.,2019-05-03,Great selection. Long line but wait was not ho...,{'ratingValue': 5}
22,Lily S.,2019-03-09,I love Sharetea! This location is awesome. Alw...,{'ratingValue': 4}
23,Yingyao Catherine S.,2018-07-29,The environment was so bad as there were sever...,{'ratingValue': 4}
24,Lily H.,2019-08-28,My fiance loves Sharetea's Bubble Tea so we al...,{'ratingValue': 4}
25,Kelley J.,2018-07-24,"Weekdays, this is my favorite milk tea place t...",{'ratingValue': 4}
26,Ozy M.,2019-07-10,Come here all the time. Love this place and wi...,{'ratingValue': 5}
27,Ying X.,2018-12-08,Pretty comparable to any other Sharetea locati...,{'ratingValue': 4}
28,Karen L.,2018-07-29,This place is my new work spot. I have been co...,{'ratingValue': 5}
29,Cynthia V.,2019-03-21,"The menu here is huge! So many choices, so lit...",{'ratingValue': 4}
...,...,...,...,...
510,Jenny H.,2015-09-27,New place in town! The tea and boba is ok! But...,{'ratingValue': 2}
511,Freddy D.,2016-06-12,I bought the first drink when it started grand...,{'ratingValue': 1}
512,Truong L.,2015-09-29,"We came here during their grand opening, the p...",{'ratingValue': 3}
513,Sean L.,2016-12-07,The matcha milk tea with red bean is the best ...,{'ratingValue': 5}
514,Gigi H.,2016-01-15,This is the only place I go to for tea these d...,{'ratingValue': 4}
515,Eugene L.,2016-07-14,"Best milk tea in town, hands down! I tried sev...",{'ratingValue': 5}
516,Michael C.,2015-10-23,When I saw the Sharetea logo put up in the pla...,{'ratingValue': 2}
517,Victor C.,2015-10-20,Tastes good to me. High mountain with fresh mi...,{'ratingValue': 4}
518,Yanan L.,2015-10-18,So excited that they open in Houston. Had thei...,{'ratingValue': 4}
519,Shirin H.,2016-11-03,This place is pretty spacious and seems like a...,{'ratingValue': 3}
520,Celine C.,2015-10-16,"I ordered milk tea with herb jelly, 30%sugar a...",{'ratingValue': 4}
521,P M C.,2016-09-24,It was my first time and I tried the Hawaii te...,{'ratingValue': 5}
522,Jane T.,2015-10-16,"I really love the drinks here but Please , cas...",{'ratingValue': 4}
523,Hannie B.,2016-05-16,Has the matcha milk tea with taro 50% sweet. T...,{'ratingValue': 5}
524,Andrew T.,2015-10-03,Long wait but the tea is pretty good. Lines ca...,{'ratingValue': 4}
525,E H.,2016-06-13,"I've had a couple drinks here, and I just thin...",{'ratingValue': 3}
526,Janet L.,2016-06-04,So I told the cashier that I wanted no sugar. ...,{'ratingValue': 1}
527,Chris S.,2016-06-20,I've had Sharetea once before in California an...,{'ratingValue': 5}
528,Vivian L.,2015-10-11,Overall the drinks here are above-average qual...,{'ratingValue': 3}
529,Joanna H.,2015-09-30,No lines and long wait times my second trip he...,{'ratingValue': 2}
530,John T.,2016-07-01,I've been going to Sharetea almost weekly sinc...,{'ratingValue': 1}
531,Nicole W.,2015-12-23,They really like to let the customers waiting ...,{'ratingValue': 1}
532,S C.,2016-05-30,It takes 30min to get in the door and place an...,{'ratingValue': 3}
533,Meili L.,2016-01-18,"Well to start, Sharetea is a nice contemporary...",{'ratingValue': 1}
534,Christine M.,2016-04-17,One of the best boba teas! The boba is soft an...,{'ratingValue': 5}
535,Heidi R.,2015-10-26,Their tea is very good. I ended up getting one...,{'ratingValue': 4}
536,Sharon C.,2015-10-04,They were very very generous with tapioca in m...,{'ratingValue': 5}
537,Bryan D.,2016-02-27,"As with most tapioca places, it's either great...",{'ratingValue': 4}
538,Deborah c.,2016-02-01,This place has the best milk tea. Flavorful t...,{'ratingValue': 5}
539,William F.,2016-02-20,"This place is just your average teahouse, noth...",{'ratingValue': 3}

In [562]:
reviewdf = pd.read_json('sharetea')

In [563]:
s = lambda x: list(x.values())[0]

In [564]:
reviewdf['reviewRating'] = reviewdf['reviewRating'].apply(s)

In [330]:
# import copy
# 
# #df = copy.deepcopy(reviewdf)

## IMPORT GOOGLE REVIEWS

#### todo: make place id google maps api modular through api call

In [331]:
import googlemaps
from datetime import datetime
import requests

In [332]:
gmapsapikey = json.load(open('gmapsapikey.json', 'r'))[0]

In [333]:
url = f'https://maps.googleapis.com/maps/api/place/details/json?key={gmapsapikey}&place_id=ChIJNc4K5cTCQIYRe9OyIN7DcGE&fields=name,review'
response = requests.get(url, headers=headers)

In [334]:
googlereviewdict = json.loads(response.content.decode('utf-8'))['result']['reviews']
googlereviewdict = {googlereviewdict.index(i):i for i in googlereviewdict}

googlereviewdf = pd.DataFrame(googlereviewdict).T

In [335]:
googlereviewdf = googlereviewdf[['author_name','rating','text']]
googlereviewdf.columns = ['author','reviewRating','description']
googlereviewdf

,author,reviewRating,description
0,Tristan & Ashley Boyd,5,Hubby found Mala Sichuan on Yelp and sent it a...
1,Pat Patel,4,Very good traditional Chinese food. We definit...
2,Epiphany Animation Studios,3,It was alright. I think maybe they had an off ...
3,Na Li,4,"I come here once a while, it used to one of my..."
4,Russell Monroe,2,"This review is for the Finn Hall location, but..."

In [539]:
reviewdf = pd.concat([reviewdf,googlereviewdf],sort = False)

In [540]:
reviewdf = reviewdf.reset_index().drop(['index'],axis=1)

In [565]:
#reviewdf['reviewRating'] = reviewdf['reviewRating'].apply(lambda x:x['ratingValue'])
reviewdf['description'] = reviewdf['description'].apply(lambda x:x.replace('\n','').replace('-',' ').lower())
reviewdf['description'] = reviewdf['description'].apply(lambda x:' '.join([i for i in x.split(" ") if len(i)>2]))
translator = str.maketrans(string.punctuation, ' '*len(string.punctuation)) #map punctuation to space
reviewdf['description'] = reviewdf['description'].apply(lambda x:x.translate(translator)).apply(lambda x: ' '.join(x.split()))

In [566]:
reviewdf.head()

,index,author,datePublished,description,reviewRating
0,0,Tom P.,2019-08-10,visited sharetea chinatown for the first time ...,5
1,1,Henry V L.,2019-08-20,sharetea nooo thanks cuz boba lifeeee haha jk ...,3
10,10,Joiya A.,2019-03-17,finally made sharetea after having bookmarked ...,4
100,0,Jason L.,2017-08-09,score 8 2 10 8 10 furniture ambience8 10 drink...,5
101,1,Melina H.,2018-12-30,always quick service super patient with new cl...,5

# IMPORT USER REVIEWS

In [523]:
def grabfullreviws(ureviews):
    fullreviews = []
    curreview = ''
    for i in range(len(ureviews)):
        #print('\n')
        if not (i == len(ureviews)-1):
            if not type(ureviews[i]) == str:
                #print('not a review',ureviews[i],type(ureviews[i]))
                pass
            elif not type(ureviews[i+1]) == str:
                #print('middle of a review',ureviews[i],type(ureviews[i]))
                curreview = curreview + ureviews[i]
            elif type(ureviews[i+1]) == str:
                #print('end of a review',ureviews[i],type(ureviews[i]))
                curreview = curreview + ureviews[i]
                fullreviews.append(curreview)
                curreview = ''
        else:
            curreview = curreview + ureviews[i]
            fullreviews.append(curreview)
    return fullreviews

In [524]:
unextpage = 'something'
userpage = 'https://www.yelp.com/user_details_reviews_self?rec_pagestart=0&userid=2fKJeKlPi9le_ta7DPVW_A'
userreviewdf = pd.DataFrame()

upath_reviews = '//p[@lang="en"]//node()'
upath_nextpage = '//a[@class="u-decoration-none next pagination-links_anchor"]'
upath_starrating = '//div[@class="biz-rating__stars"]//div'

while len(unextpage) > 0:

    userpage = requests.get(userpage, headers = headers)#,proxies={"http": proxy, "https": proxy})
    
    uparser = html.fromstring(userpage.content)

    ureviews = uparser.xpath(upath_reviews)

    unextpage = uparser.xpath(upath_nextpage)
    
    if len(unextpage) > 0:
        print(unextpage)
        userpage = unextpage[0].get('href')
    ustarratingpath = uparser.xpath(upath_starrating)

    ureviews = [str(i) if not "Element br" in str(i) else 0 for i in ureviews ]

    ufullreviews = grabfullreviws(ureviews)

    fullstars = [i.get('title') for i in ustarratingpath]

    userreviewdf = pd.concat([userreviewdf,pd.DataFrame(list(zip(fullstars,fullreviews)))])

[<Element a at 0x11db28110>]
[<Element a at 0x11d5d3ef0>]
[<Element a at 0x132a5f650>]
[<Element a at 0x11d532b90>]
[<Element a at 0x132a72710>]

In [525]:
userreviewdf.columns = ['rating','description']

In [526]:
userreviewdf.head()

            rating                                        description
0  4.0 star rating  I'm writing this review because I noticed that...
1  5.0 star rating  TLDR: Over rated Mediterranean cuisine with de...
2  5.0 star rating  I came in here initially about to order a burg...
3  5.0 star rating  This HEB is legendary. Coming from Houston, I ...
4  5.0 star rating  I didn't expect the barbecue out of an HEB to ...

# GRAB MENU ITEMS

In [567]:
menuitems = json.load(open('teamenu.json'))
#menuitems = [x[3:].strip() for x in list(menuitems.keys())]
menitems = [x.lower() for x in menuitems]

# USER PREFERENCES

## scrape wikipedia for chinese foods (only run once, save results as JSON)

In [516]:
from bs4 import BeautifulSoup

In [517]:

wikipage = 'https://en.wikipedia.org/wiki/List_of_Chinese_dishes'
wikipage = requests.get(wikipage).text
wikidf = pd.DataFrame()

soup = BeautifulSoup(wikipage)

my_tables = soup.findAll('table',{'class':'wikitable'})

In [518]:
chinesefoods = []
for table in my_tables:
    alla = list(table.findAll('a'))
    chinesefoods = chinesefoods +[x for x in[alla[i].get('title') for i in range(len(alla))] if type(x) == str]

In [519]:
from nltk.corpus import wordnet as wn
allfoods = list(set([w for s in wn.synset('food.n.02').closure(lambda s:s.hyponyms()) for w in s.lemma_names()])) + chinesefoods

In [520]:
len(allfoods)

1721

## food preferences by users reviews

In [528]:
search = lambda x: [food for food in allfoods if food in x]

userreviewdf['containedFood='] = userreviewdf['description'].apply(search)

## RANKING MENU ITEMS

In [461]:
food = [x.lower() for x in food]

In [463]:
for i in menuitems:
    test = i.split(" ")
    test = [x.lower() for x in test]
    print(i)
    for j in test:
        if j in food:
            print ('y',j)

Top Notch Pot the Outlaws
Sauerkraut Fish and Lamb Pot
y fish
y lamb
Country Style Blood Curd Dish
Devourable Beef Pot
y beef
and Crispy Chicken
y chicken
Duck Stew
y duck
Konjac Beef
y beef
Lotus Tofu
Three Pepper Beaten Duck
y pepper
y duck
Tea Smoked Duck
y duck
Four Joy Lion Head
Fragrant Ribs
Northern Boiling Fish
y fish
Sauerkraut Fish Pot
y fish
Chengdu Style Pot Roasted Tilapia
Mala Pot Roasted Tilapia
Bean Curd Tilapia Stew
y bean
Pot Roasted Black Bean Tilapia
y bean
Steamed Tilapia
Sweet and Sour Crispy Tilapia
Scallion Pot Roasted Tilapia
y scallion
Water Boiled Beef
y beef
Cumin Beef
y beef
Black Pepper Beef
y pepper
y beef
Mala Beef Tofu
y beef
Mongolian Beef
y beef
Baby Pepper Black Bean Beef
y pepper
y bean
y beef
Baby Pepper and Shredded Beef
y pepper
y beef
Satay Beef
y beef
Sauteed Lamb with Veggies
y lamb
Cumin Lamb
y lamb

In [568]:
menitems

['passionfruit juice with yakult',
 'mango juice with yakult',
 'classic milk tea',
 'honey milk tea',
 'ginger milk tea',
 'okinawa pearl milk tea brown',
 'hokkaido pearl milk tea',
 'classic coffee',
 'classic pearl milk tea',
 'mango green milk tea',
 'taro pearl milk tea',
 'matcha red bean milk tea',
 'qq happy family milk tea',
 'ice cream black/green tea',
 'coffee jelly milk tea',
 'cocoa lover',
 'black/green tea with fresh milk',
 'oolong/high mountain tea with fresh milk',
 'matcha with fresh milk',
 'wintermelon with fresh milk',
 'herb jelly with fresh milk',
 'handmade taro fresh',
 'classic black/green tea',
 'oolong green tea',
 'wintermelon tea',
 'high mountain green tea',
 'honey black/green tea']

In [592]:
import math

In [593]:
search = lambda x: [menitem for menitem in menitems if menitem[:math.floor(0.75*len(menitem))] in x]
reviewdf['containedMenuItems'] = reviewdf['description'].apply(search)

In [594]:
menitemstoreviews = {}
for menitem in menitems:
    menitemstoreviews[menitem] = [{},list(reviewdf[reviewdf['containedMenuItems'].map(lambda d: menitem in d)].index)]

In [595]:
test= copy.deepcopy(menitemstoreviews)

In [596]:
tot4plusreviews = len(reviewdf[reviewdf['reviewRating'] >= 4])

In [597]:
#total number of 4 plus reviews
for item in menitemstoreviews:
    #print(item,'------',end = '')
    allratings = []
    fourpluscounter = 0
    twominuscounter = 0
    totalrev = len(menitemstoreviews[item][1])
    
    for rev in menitemstoreviews[item][1]:
        curstar = reviewdf.iloc[rev]['reviewRating']
        allratings.append(curstar)
        if curstar >= 4:
            fourpluscounter += 1
        elif curstar <= 2:
            twominuscounter += 1
    if not totalrev == 0:
        menitemstoreviews[item][0]['extremerev'] = (fourpluscounter - twominuscounter) / (2 * totalrev)
    else:
        menitemstoreviews[item][0]['extremerev'] = 0
    menitemstoreviews[item][0]['percentageoftotalreviews'] = 10 * (fourpluscounter) / tot4plusreviews
        
    if not len(allratings) == 0:
        menitemstoreviews[item][0]['avgrev'] = sum(allratings)/(5 * len(allratings))
        #print('av rating',sum(allratings)/len(allratings))
    else:
        menitemstoreviews[item][0]['avgrev'] = 0
        #print('no reviews')

In [598]:
itemratings = pd.DataFrame(menitemstoreviews).T
itemratings.columns = ['ratings','indexes']

In [599]:
itemratings['totalscore'] = itemratings['ratings'].apply(lambda x: sum(x.values()))

In [600]:
itemratings['totalscore'].sort_values(ascending = False)

wintermelon tea                             1.623614
okinawa pearl milk tea brown                1.563986
wintermelon with fresh milk                 1.525381
matcha with fresh milk                      1.525381
honey milk tea                              1.511235
taro pearl milk tea                         1.506236
cocoa lover                                 1.410237
classic milk tea                            1.392567
mango juice with yakult                     1.325381
high mountain green tea                     1.325381
qq happy family milk tea                    1.325381
matcha red bean milk tea                    1.325381
mango green milk tea                        1.325236
handmade taro fresh                         1.004714
hokkaido pearl milk tea                     0.976142
classic pearl milk tea                      0.925761
ginger milk tea                             0.901523
classic coffee                              0.000000
honey black/green tea                       0.000000
ice cream black/green tea                   0.000000
coffee jelly milk tea                       0.000000
black/green tea with fresh milk             0.000000
oolong/high mountain tea with fresh milk    0.000000
herb jelly with fresh milk                  0.000000
classic black/green tea                     0.000000
oolong green tea                            0.000000
passionfruit juice with yakult              0.000000
Name: totalscore, dtype: float64

In [602]:
itemratings.loc['wintermelon tea']['ratings']

{'extremerev': 0.34,
 'percentageoftotalreviews': 0.5076142131979695,
 'avgrev': 0.776}

In [591]:
reviewdf[reviewdf['description'].map(lambda d: 'okinawa pearl milk tea' in d)]

,index,author,datePublished,description,reviewRating,containedMenuItems
127,7,Cindy S.,2016-04-04,sharetea new favorite drink house chinatown th...,4,"[classic milk tea, taro pearl milk tea]"
152,12,Mai N.,2015-12-02,lot yelp reviews have been complaining about s...,4,[]
162,2,Vicky L.,2017-02-13,service the slower end but nonetheless drink o...,3,[]
177,17,Vicky N.,2016-12-17,the last time was here was year ago and they v...,5,[]
19,19,Fox E.,2019-02-27,i m gonna get fat cuz always shareteai wanna d...,5,[classic pearl milk tea]
212,12,Jerry C.,2016-03-04,nice employees chinatown the twilight zone nah...,4,[]
223,3,Conrad L.,2015-12-05,update they now have p a system that you can h...,4,[]
241,1,Jeremy T.,2016-12-19,the milk teas here are easily some the best ho...,4,[]
246,6,Jen D.,2017-01-29,first review 2017 boba there are plethora boba...,4,[]
248,8,Ngan H.,2015-10-12,new tapioca place from now on they made good d...,5,[]
286,6,Luther F.,2016-07-23,this the best bubble tea place houston hands d...,5,"[classic milk tea, honey milk tea, hokkaido pe..."
353,13,Angela C.,2016-02-15,really yummy drinks heard lots good things abo...,4,[]
41,1,Bailey I.,2019-06-18,idk what say except love this place soo much a...,5,[]
417,17,M N.,2017-02-19,the taro cereal slush earned them extra star t...,4,[]
440,0,Teresa B.,2016-01-04,the best tea house htown hands down get the ok...,5,[]
48,8,Fareedha P.,2018-01-16,the okinawa pearl milk tea kiwi fruit tea with...,4,[]
76,16,Gina N.,2019-03-15,hands down favorite place come and get boba dr...,5,[]
93,13,Raven G.,2018-05-24,that okinawa pearl milk tea with roasted brown...,4,[]
96,16,Ken A.,2019-02-27,got the okinawa pearl milk tea and surprisingl...,4,[]

In [432]:
reviewdf.iloc[548]['description']

'one the better sichuan restaurants the greater houston area food 7service 5ambiance 5overall 6appetizers don remember the translations try best translate from chinese dan dan noodles executed well but nothing special garlic puree with pork slices overall unique take but too sweet and not spicy enough reference 888 version this spicy beef slices beef too tough spicy herb flavor doesn work for this dish entrees phoenix flavor chili chicken the best ever had america china this classic szechuan dish executed perfectly here with the perfect balance spiciness garlic and chicken mouth watering indeed water boiled fish quite good though tossup between this one and 888 version excellent with rice spicy enough mouth watering beef parents liked this dish but the beef was ordinary sauce similar the water boiled fish string beans with bamboo the meat sauce that goes with the beans superb proper amount wok hei this demanding dish bamboo tender food gets for the great entrees spoiled the very mediocre apps service ordinary that while they are reasonably polite they randomly forget certain orders and such service speed can quite slow during busy nights ambiance fairly ordinary but decent for chinese restaurant waiting area uncomfortable otherwise fairly clean scoring guidelines overall score average food service and ambiance rounding subjective based impression restaurant total food score average apps entrees and desserts places without apps dessert have the entree score instead counted multiple times denotes estimated score not included denotes noteworthy items 90th percentile denotes exceptional cuisine 98th percentile'

In [285]:
pd.DataFrame(menitemstoreviews).T

,0,1
top notch pot the outlaws,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
sauerkraut fish and lamb pot,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
country style blood curd dish,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[416, 438]"
devourable beef pot,"{'extremerev': 0.0, 'percentageoftotalreviews'...","[502, 714]"
and crispy chicken,"{'extremerev': 0.3918918918918919, 'percentage...","[11, 29, 38, 48, 66, 94, 101, 102, 104, 113, 1..."
duck stew,"{'extremerev': 0.0, 'percentageoftotalreviews'...","[162, 625]"
konjac beef,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
lotus tofu,"{'extremerev': 0.375, 'percentageoftotalreview...","[64, 88, 180, 318]"
three pepper beaten duck,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[103, 349, 486, 539, 628, 653, 655, 671, 739]"
tea smoked duck,"{'extremerev': 0.3695652173913043, 'percentage...","[31, 42, 64, 113, 116, 172, 212, 227, 237, 257..."
four joy lion head,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[351, 554, 674]"
fragrant ribs,"{'extremerev': 0.375, 'percentageoftotalreview...","[69, 109, 223, 312]"
northern boiling fish,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[257, 472]"
sauerkraut fish pot,"{'extremerev': 0.5, 'percentageoftotalreviews'...",[118]
chengdu style pot roasted tilapia,"{'extremerev': 0.5, 'percentageoftotalreviews'...",[640]
mala pot roasted tilapia,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[12, 69, 131, 164, 222, 307, 500]"
bean curd tilapia stew,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
pot roasted black bean tilapia,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
steamed tilapia,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[166, 214, 733]"
sweet and sour crispy tilapia,"{'extremerev': 0.5, 'percentageoftotalreviews'...",[217]
scallion pot roasted tilapia,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
water boiled beef,"{'extremerev': 0.4230769230769231, 'percentage...","[29, 101, 131, 194, 207, 235, 277, 409, 462, 4..."
cumin beef,"{'extremerev': 0.4076923076923077, 'percentage...","[5, 18, 22, 42, 57, 78, 81, 94, 95, 98, 113, 1..."
black pepper beef,"{'extremerev': 0.5, 'percentageoftotalreviews'...","[84, 164, 177, 323, 337, 359, 383, 554]"
mala beef tofu,"{'extremerev': 0.4, 'percentageoftotalreviews'...","[126, 217, 278, 350, 462]"
mongolian beef,"{'extremerev': 0.4666666666666667, 'percentage...","[13, 18, 75, 84, 183, 190, 234, 237, 253, 266,..."
baby pepper black bean beef,"{'extremerev': 0.0, 'percentageoftotalreviews'...","[222, 298]"
baby pepper and shredded beef,"{'extremerev': 0.5, 'percentageoftotalreviews'...",[568]
satay beef,"{'extremerev': 0.5, 'percentageoftotalreviews'...",[687]
sauteed lamb with veggies,"{'extremerev': 0, 'percentageoftotalreviews': ...",[]
cumin lamb,"{'extremerev': 0.4722222222222222, 'percentage...","[16, 35, 79, 120, 131, 167, 180, 200, 230, 253..."

In [57]:
reviewdf[reviewdf['author']=='Tristan & Ashley Boyd']

,author,datePublished,description,reviewRating,containedMenuItems
740,Tristan & Ashley Boyd,NaN,hubby found mala sichuan on yelp and sent it a...,5,[and crispy chicken]

In [24]:
reviewdf.iloc[473]['description']

'good prices, a ton of food and a friendly staff. the garlic bacon rolls with cucumbers and the red hot oil dumplings are good to start off with. the spicy crispy chicken was disappointing this time but the water boiled beef was good.'

In [13]:
#reviewdf.to_json('bigmala')